.nav_top{
    width: 100%;
    height: 40px;
    background: #232526;
    color: #cccccc;
    border-bottom: 1px solid #5f6161; 
}
.nav_top_main{
    width: 1200px;
    margin: 0 auto;
}
.nav_top_main .left{
    float: left;
}
.nav_top_main .right{
    float: right;
}
.nav_top_main li{
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}
.nav_top_main .right>li{
    margin-left: 31px;
}
.nav_top_main .right>li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: #5f5f5f;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.nav_top_main .right>li:nth-child(1)::after{
    height: 0px;
}

.nav_top_main .left>li{
    margin-right: 19px;
}
.nav_top_main .left>li:nth-child(2)::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: #5f5f5f;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


.nav_bottom{
    width: 100%;
    height: 75px;
    background: #37393a;
    color: #ffffff; 
    box-sizing: border-box;
}
.nav_bottom_main{
    width: 1200px;
    margin: 0 auto;
}
.nav_bottom_main .left{
    float: left;
}
.nav_bottom_main .left img{
    margin-top: 12px;
}
.nav_bottom_main .right{
    float: right;
}
.nav_bottom_main li{
    display: inline-block;
    line-height: 75px;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    margin-left: 41px;
}
.nav_bottom_main .right>li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: #5f5f5f;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.nav_bottom_main .right>li:nth-child(1)::after{
    height: 0px;
}
.announcement{
    width: 100%;
    height: 40px;
    background: #0d0f11;
}
.index_meun{
    width: 100%;
    height: 544px;
    background: url('../image/index/bg1.png');
    overflow: hidden;
}
.index_meun_mian{
    width: 1200px;
    height: 426px;
    margin: 59px auto;
    background: #5f5f5f;
}
.index_meun_left{
    float: left;
    width: 300px;
    height: 426px;
    background: #37393a;
}
.lottery_list{
    width: 100%;
    height: 375px;
    overflow: hidden;
    padding: 11.5px 26px;
}
.meun_title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #282828;
    color: #f7e6b0;
    padding: 0px 28px;
    font-size: 18px;
    line-height: 50px;
}
.lottery_list li{
    width: 124px;
    height: 30px;
    /* background: #cccccc; */
    float: left;
    margin: 1px 0;
    border-radius: 5px;
    line-height: 30px;
    color: #fefefe;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 12px;
}
.lottery_list li:hover{
    background:rgba(0,0,0,0.2);
}
.index_meun_right li{
    width: 300px;
    height: 213px;
    background: rgba(0,0,0,0.2);
    float: left;
    background: url('../image/index/bg3.png');
    position: relative;
    cursor: pointer;
}

.index_meun_right li img{
    position: absolute;
    right: 0;
    bottom: 0;
}




















.index_footer{
    width: 100%;
    height: 484px;
    background: url('../image/index/bg2.png')
}


