<nav class="nav_top">
    <div class="nav_top_main">
        <ul class="left">
            <li> 手机版 </li>
            <li> 线路测速 </li>
        </ul>
        <ul class="right">
            <li> <span> 您好,shiyan2019 </span> <span> 余额:0.0000  <i class="iconfont icon-shuaxin"></i> </span> </li>
            <li> <i class="iconfont icon-informatiom"></i> 消息 ( 0 )  </li>
            <li> 充值 </li>
            <li> 提款 </li>
            <li> 转账 </li>
            <li><i class="iconfont icon-yonghudianji"></i> 账户管理 </li>
            <li> 退出 </li>
        </ul>
    </div>
</nav> 

<nav class="nav_bottom">
    <div class="nav_bottom_main">
        <div class="left">
            <img class="logo" src="" alt="">
        </div>
        <ul class="right">
            <li class="active"> 首页 </li>
            <li> 彩票专区 <i class="iconfont icon-xiala"></i> <img src="./image/index/new.png" alt=""> </li>
            <li> 电子棋牌 <i class="iconfont icon-xiala"></i> </li>
            <li> AG真人 </li>
            <li> 优惠活动 </li>
            <li> 下载中心 </li>
            <li> 在线客服 </li>
        </ul>
    </div>
</nav>