<nav class="nav_top">
    <div class="nav_top_main">
        <ul class="left">
            <li> 手机版 </li>
            <li> 线路测速 </li>
        </ul>
        <ul class="right">
            <li> <span> 您好,shiyan2019 </span> <span> 余额:0.0000 </span> </li>
            <li> 消息(0) </li>
            <li> 充值 </li>
            <li> 提款 </li>
            <li> 转账 </li>
            <li> 账户管理 </li>
            <li> 退出 </li>
        </ul>
    </div>
</nav>

<nav class="nav_bottom">
    <div class="nav_bottom_main">
        <div class="left">
            <img src="./image/index/logo.png" alt="">
        </div>
        <ul class="right">
            <li> 首页 </li>
            <li> 彩票专区 </li>
            <li> 电子棋牌 </li>
            <li> AG真人 </li>
            <li> 优惠活动 </li>
            <li> 下载中心 </li>
            <li> 在线客服 </li>
        </ul>
    </div>
</nav>