<nav class="nav_top">
  <div class="nav_top_main">
    <ul class="left">
      <li onClick="pageGo('page/other/err.html')"> 手机版 </li>
      <li onClick="pageGo('page/other/err.html')"> 线路测速 </li>
    </ul>
    <ul class="right" id="headerMeun">
      <li> <span> 您好,shiyan2019 </span> <span> 余额:0.0000 <i class="iconfont icon-shuaxin"></i> </span> </li>
      <li data-toggle="modal" data-target="#announcement"> <i class="iconfont icon-informatiom"></i> 消息 ( 0 ) </li>
      <li data-link="topUpMoney"> 充值 </li>
      <li data-link="withdrawalsMoney"> 提款 </li>
      <li data-link="transferMoney"> 转账 </li>
      <li id="user_center"> <dd></dd> <i class="iconfont icon-yonghudianji"></i> 账户管理 </li>
      <li data-toggle="modal" data-target="#myModal"> 退出 </li>
    </ul>
    <div class="user_meun" id="userCenter_meun">
      <div>
        <span> 游戏记录 </span>
        <ul>
          <li data-link="queryOrder"> 订单查询 </li>
          <li data-link="chaseRecord"> 追号记录 </li>
          <li data-link="ptRecord"> PT记录 </li>
          <li data-link="gaRecord"> GA记录 </li>
          <li data-link="shababRecord"> 沙巴记录 </li>
          <li data-link="agRecord"> AG记录 </li>
        </ul>
      </div>
      <div>
        <span> 资金记录 </span>
        <ul>
          <li data-link="withdrawalsRecords"> 提款记录 </li>
          <li data-link="moneyDetail"> 资金明细 </li>
        </ul>
      </div>
      <div>
        <span> 个人信息 </span>
        <ul>
          <li data-link="personalData"> 个人资料 </li>
          <li data-link="changePassword"> 密码修改 </li>
          <li data-link="bindCard"> 卡号绑定 </li>
          <li data-link="bonusPlay"> 玩法奖金 </li>
        </ul>
      </div>
      <div>
        <span> 代理团队 </span>
        <ul>
          <li data-link="vipManagement"> 会员管理 </li>
          <li data-link="vipReport"> 会员报表 </li>
          <li data-link="lowerOrders"> 下级订单 </li>
          <li data-link="preferentiallist"> 优惠列表 </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<nav class="nav_bottom">
  <div class="nav_bottom_main">
    <div class="left">
      <!-- <img class="logo" src="" alt=""> -->
    </div>
    <ul class="right" id="headerNav">
      <li data-link="home" class="active"> 首页 </li>
      <li id="Lottery_zone"> 彩票专区 <i class="iconfont icon-xiala"></i> <img src="./image/index/new.png" alt=""><dd> </dd></li>
      <li> 电子棋牌 <i class="iconfont icon-xiala"></i> </li>
      <li> AG真人 </li>
      <li data-link="active" > 优惠活动 </li>
      <li onClick="pageGo('page/other/err.html')"> 下载中心 </li>
      <li onClick="pageGo('page/other/err.html')"> 在线客服 </li>
    </ul>
    <div class="lottery_meun">
      <div>
        <span> 时时彩 </span>
        <ul>
          <li onclick="pageGo('page/game/caipiao.html')"> 重庆时时彩 <i class="new"> </i> </li>
          <li> 腾讯分分彩 <i class="new"> </i> </li>
          <li> 新疆时时彩 </li>
          <li> 新疆时时彩 </li>
          <li> 黑龙江时时彩 </li>
          <li> 台湾5分彩 <i class="new"> </i> </li>
          <li> 腾讯分分彩 </li>
          <li> 北京5分彩 </li>
          <li> 台湾5分彩 </li>
          <li> 腾讯分分彩 </li>
          <li> 北京5分彩 <i class="host"> </i></li>
          <li> 黑龙江时时彩 </li>
          <li> 台湾5分彩 </li>
          <li> 腾讯分分彩 <i class="new"> </i> </li>
          <li> 北京5分彩 </li>
          <li> 台湾5分彩 </li>
          <li> 腾讯分分彩 </li>
          <li> 北京5分彩 <i class="host"> </i></li>
        </ul>
      </div>
      <div>
        <span> 11选5 </span>
        <ul>
          <li> 重庆时时彩 </li>
          <li> 腾讯分分彩 </li>
          <li> 新疆时时彩 </li>
          <li> 新疆时时彩 </li>
          <li> 黑龙江时时彩 </li>
          <li> 台湾5分彩 <i class="host"> </i></li>
          <li> 腾讯分分彩 </li>
          <li> 北京5分彩 </li>
          <li> 黑龙江时时彩 </li>
          <li> 台湾5分彩 <i class="new"> </i> </li>
          <li> 腾讯分分彩 </li>
          <li> 北京5分彩 </li>
        </ul>
      </div>
      <div>
        <span> 快三 </span>
        <ul>
          <li> 快三分分彩 </li>
          <li> 江苏快三 </li>
          <li> 快三秒秒彩 <i class="new"> </i> </li>
          <li> 安徽快三 </li>
          <li> 湖北快三 </li>
          <li> 河北快三 <i class="host"> </i></li>
          <li> 河南快三 </li>
          <li> 福建快三 </li>
        </ul>
      </div>
      <div>
        <span> 六合/低频 </span>
        <ul>
          <li> 香港六合彩 </li>
          <li> 六合分分彩 <i class="new"> </i> </li>
          <li> 福彩3D </li>
          <li> 超快3D </li>
          <li> 体彩P3P5 <i class="host"> </i></li>
        </ul>
      </div>
      <div>
        <span> 趣味 </span>
        <ul>
          <li> PK10分分彩 </li>
          <li> PK10二分彩 </li>
          <li> 北京PK10 </li>
          <li> 山东快乐扑克3 </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
