<div class="aboutMeun">
  <div class="aboutMeun_main">
    <div class="aboutMeun_main_meun">
      <ul>
        <li class="active"> 关于我们 </li>
        <li> 帮助中心 </li>
        <li> 联系我们 </li>
        <li> 防劫持教程 </li>
        <li> 游戏帮助 </li>
      </ul>
    </div>
    <div class="aboutMeun_main_content">
      <div class="aboutMeun_main_title">
        <h3> 关于我们 </h3>
      </div>
      <div class="aboutMeun_main_p">
        <p> 是关于我们的内容，这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是
          这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里
          里是关于我们的内容 </p>
        <p> 这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容这里是关于我们的内容
          这里是关于我们的内容 </p>
      </div>
    </div>
  </div>
</div>
