<div class="user">
        <div class="user_main">
          <div class="user_header">
            <div class="user_header_left">
              <img src="../../image/user/userimg.png" alt="">
              <div>
                <p> 下午好，
                  <span>天天发财 </span>
                </p>
                <p>
                  <i class="iconfont icon-qiandai"></i> 余额：
                  <span> ￥8000.0000 </span> 元
                  <i class="iconfont icon-shuaxin"></i>
                </p>
              </div>
            </div>
            <div class="user_header_right">
              <ul>
                <li>
                  <span class="tuo1">
                    <i class="iconfont icon-chongzhijilu"></i>
                  </span>
                  <span> 我要充值 </span>
                </li>
                <li>
                  <span class="tuo2">
                    <i class="iconfont icon-qianbao01"></i>
                  </span>
                  <span> 我要提款 </span>
                </li>
                <li>
                  <span class="tuo3">
                    <i class="iconfont icon-chongzhi"></i>
                  </span>
                  <span> 我要转账 </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="user_footer">
            <div class="user_footer_left">
              <div class="user_foote_meun">
                <div>
                  <p>
                    <i class="iconfont icon-yonghudianji"></i> 个人中心 </p>
                  <ul>
                    <li class="active">个人资料 </li>
                    <li> 密码修改 </li>
                    <li> 卡号绑定 </li>
                    <li> 玩法奖金 </li>
                  </ul>
                </div>
                <div>
                  <p>
                    <i class="iconfont icon-youxi"></i> 游戏记录 </p>
                  <ul>
                    <li> 订单查询 </li>
                    <li> 追号记录 </li>
                    <li> PT记录 </li>
                    <li> GA记录 </li>
                    <li> 沙巴记录 </li>
                    <li> AG记录 </li>
                    <li> 刮刮彩记录 </li>
                  </ul>
                </div>
                <div class="">
                  <p>
                    <i class="iconfont icon-qianbi"></i> 资金记录 </p>
                  <ul>
                    <li> 提款记录 </li>
                    <li> 资金明细 </li>
                  </ul>
                </div>
                <div class="">
                  <p>
                    <i class="iconfont icon-users"></i> 代理团队 </p>
                  <ul>
                    <li> 会员管理 </li>
                    <li> 会员报表 </li>
                    <li> 注册下级 </li>
                    <li> 下级订单 </li>
                    <li> 优惠列表 </li>
                  </ul>
                </div>
                <div class="">
                  <p>
                    <i class="iconfont icon-informatiom"></i> 信息管理 </p>
                  <ul>
                    <li> 收件箱 </li>
                    <li> 发件箱 </li>
                    <li> 发邮件 </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="user_footer_right">
              <div class="personal_data">
                <h3>
                  <i class="iconfont icon-icongerenzhongxin"></i> 个人资料 </h3>
                <div class="personal_username">
                  <div class="username">
                    <span> 用户名： </span> 天天发财 </div>
                  <div class="nickname">
                    <span> 昵称： </span> VIP发财
                    <b> 修改 </b>
                  </div>
                </div>
                <div class="personal_ifo">
                  <h3> 安全资料 </h3>
                  <div class="personal_bank">
                    <p> 开户人姓名：龙*** </p>
                    <p> 资金密码：('***************') </p>
                    <p> 注意提示：您已经设置了安全资料，不可更改 </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>