<div class="user_center_mian betDetail">
  <div class="title">
    <span> 投注详情 </span>
  </div>
  <div class="personal_ifo betDetail">
    <h3>
      订单详情（订单编号：YF11191087162031244P）
    </h3>
    <div>
      投注用户： caiwutest 奖期： 亚洲分分彩 第 20181119-1087 期
      单倍注数： 1 注 投注倍数： 1 倍
      投注模式： 2元模式 是否追号： 否
      总金额： 2.000元 开奖号码： 54366
      投注时间： 2018-11-19 18:06:43 中奖金额： 0.0000元
      订单状态： 未中奖 投注平台： PC端2.0
    </div>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <th> 玩法名称 </th>
          <th> 投注内容 </th>
          <th> 投注注数 </th>
          <th> 投注金额 </th>
          <th> 奖金/返点 </th>
          <th> 实际奖金 </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 后三直选 </td>
          <td> 0,4,3 </td>
          <td> 1 注 </td>
          <td> 2 元 </td>
          <td> 1700/7.5 </td>
          <td> 0.0000元 </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="registeLower_btn">
        <button> 打印 </button>

      </div>
</div>
